@model IEnumerable<SalesManagementApp.Models.SalesPerson>

@{
    ViewData["Title"] = "Employees Overview";
}

<h1>Employees Overview</h1>

<p>
    <a asp-action="Create">Add New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.FullName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CommissionSortParm"]"> @Html.DisplayNameFor(model => model.Commission)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commission)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
