@model IEnumerable<SalesManagementApp.Models.Sale>

@{
    ViewData["Title"] = "Sales Overview";
}

<h1>Sales Overview</h1>

<p>
    <a asp-action="Create">Add New Sale</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.SalesPersonFullName)</a>
            </th>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Date)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParm"]">@Html.DisplayNameFor(model => model.Amount)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPersonFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SaleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
            </td>
        </tr>
 }
    </tbody>
</table>
